*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.about-page span{
    font-size: 18px !important;
}

.about-page h4{
    display: flex;
    align-content: center;
    justify-content: center;
}


/*  */

.contact-cards-section{
    padding:80px 40px;
    background:#f8fafc;
}


.contact-grid{
    max-width:1300px;
    margin:auto;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:32px;
}

.contact-card{
    position:relative;
    background:#fff;
    border:1px solid #e5e7eb;
    border-radius:18px;
    padding:40px 30px;
    text-align:center;
    transition:0.4s;
}

.contact-card:hover{
    transform:translateY(-8px);
    box-shadow:0 15px 30px rgba(0,0,0,0.08);
}

.icon-box{
    width:72px;
    height:72px;
    margin:auto;
    border-radius:50%;
    background:#eef4ff;
    color:#2563eb;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-bottom:28px;
}

.icon-box span{
    font-size:34px;
}

.contact-card h2{
    font-size: clamp(27px,3vw,34px);
    color:#0f172a;
    margin-bottom:16px;
}

.contact-card p{
    font-size: clamp(15px,1.6vw,18px);
    line-height:1.8;
    color:#64748b;
    margin-bottom:28px;
}

.contact-card a{
    color:#2563eb;
     font-size: clamp(15px,1.6vw,18px);
    font-weight:700;
    text-decoration:none;
}

.badge{
    position:absolute;
    top:18px;
    right:18px;
    padding:8px 16px;
    border-radius:30px;
    background:#e8fff5;
    color:#10b981;
    font-size:14px;
    font-weight:700;
}

/* Tablet */
@media(max-width:992px){

.contact-cards-section{
    padding:60px 25px;
}

}

/* Mobile */
@media(max-width:576px){

.contact-cards-section{
    padding:45px 16px;
}

.contact-card{
    padding:30px 22px;
}

.contact-card h2{
    font-size:clamp(18px,2.2vw,26px);
}

.contact-card p{
    font-size:clamp(13px,1.4vw,15px);
}

.contact-card a{
    font-size:clamp(13px,1.4vw,15px);
    word-break:break-word;
}

.icon-box{
    width:62px;
    height:62px;
}

.icon-box span{
    font-size:clamp(25px,2.6vw,28px);
}

}


/*  */

.contact-form-section{
    padding:60px 20px;
}

.form-box{
    max-width:900px;
    margin:auto;
    background:#fff;
    border:1px solid #e5e7eb;
    border-radius:20px;
    padding:55px;
}


.form-box h1{
    text-align:center;
    font-size: clamp(27px,3vw,34px);
    color:#0f172a;
    margin-bottom:18px;
}

.top-text{
    text-align:center;
    max-width:700px;
    margin:auto;
    font-size: clamp(15px,1.6vw,18px);
    line-height:1.7;
    color:#64748b;
    margin-bottom:45px;
}

.grid-2{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:28px 30px;
}

.field{
    display:flex;
    flex-direction:column;
}

label{
    font-size: clamp(15px,1.6vw,17px);
    font-weight:400;
    margin-bottom:12px;
    color:#111827;
}

input,
select,
textarea{
    padding:16px 18px;
    font-size: clamp(15px,1.6vw,17px);
    border:1px solid #d1d5db;
    border-radius:8px;
    outline:none;
}

textarea{
    resize:none;
}

input:focus,
select:focus,
textarea:focus{
    border-color:#2563eb;
}

small{
    color:#ef4444;
    font-size:15px;
    margin-top:8px;
    min-height:20px;
}

.full{
    margin-top:28px;
}

.bottom-bar{
    margin-top:30px;
    padding-top:28px;
    border-top:1px solid #e5e7eb;
    display:flex;
    justify-content:space-between;
    gap:20px;
    align-items:center;
    flex-wrap:wrap;
}

.bottom-bar p{
       display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: top;
    color:#6b7280;
    font-size: clamp(15px,1.6vw,17px);
}

.bottom-bar p span{
 
    color:#6b7280;
    font-size: clamp(15px,1.6vw,17px);
}

button{
    border:none;
    background:#2563eb;
    color:#fff;
    padding:18px 32px;
    border-radius:10px;
    font-size: clamp(15px,1.6vw,18px);
    font-weight:700;
    cursor:pointer;
}

button:hover{
    background:#1d4ed8;
}

/* Mobile */
@media(max-width:768px){

.form-box{
    padding:30px 20px;
}

.form-box h1{
    font-size: clamp(20px,2.3vw,27px);
}

.top-text{
    font-size: clamp(13px,1.4vw,15px);
}

.grid-2{
    grid-template-columns:1fr;
}

input,select,textarea{
    font-size: clamp(12px,1.3vw,14px);
}

button{
    width:100%;
    font-size: clamp(13px,1.4vw,15px);
}

.bottom-bar{
    flex-direction:column;
    align-items:flex-start;
}

}

/*  */


.office-section{
    padding:80px 40px;
    min-height:70vh;
    background: #F3F4F6;
}

.office-heading{
    max-width:1250px;
    margin:auto;
    margin-bottom:55px;
}

.office-heading p{
    font-size:  clamp(15px,1.6vw,18px);
    color:#64748b;
    margin-bottom:14px;
}

.office-heading h1{
    font-size:clamp(25px, 3vw, 45px);
    font-weight:800;
    color:#0f172a;
}

.office-grid{
    max-width:1250px;
    margin:auto;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:32px;
}

.office-card{
    background:#fff;
    border-left:4px solid #2563eb;
    border-radius:14px;
    padding:18px 24px;
    box-shadow:0 6px 14px rgba(0,0,0,0.04);
    transition:0.4s;
}

.office-card:hover{
    transform:translateY(-8px);
    box-shadow:0 14px 28px rgba(0,0,0,0.08);
}

.office-card h2{
    font-size: clamp(25px, 2.7vw, 30px);
    color:#0f172a;
    margin-bottom:8px;
}

.office-card h4{
    font-size: clamp(13px, 1.5vw, 17px);
    text-transform: capitalize;
    color:#2563eb;
    margin-bottom:8px;
    font-weight:200;
}

.office-card p{
    font-size: clamp(13px, 1.5vw, 17px);
    line-height:1.8;
    color:#475569;
}

/* Tablet */
@media(max-width:992px){

.office-section{
    padding:60px 25px;
}

/* .office-heading h1{
    font-size:52px;
} */

}

/* Mobile */
@media(max-width:576px){

.office-section{
    padding:45px 16px;
}

.office-heading h1{
    font-size: clamp(26px,2.7vw,28px);

}

.office-heading p{
    font-size:clamp(15px, 1.4vw, 17px);
}

.office-card{
    padding:28px 22px;
}

.office-card h2{
    font-size:clamp(24px,2.5vw,26px);
}

.office-card h4{
    font-size:clamp(15px, 1.4vw, 17px);
}

.office-card p{
    font-size:clamp(15px, 1.4vw, 17px);
}

}


